<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Predicación</title>

    <!-- Bootstrap -->
    <link href="../bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- YourJS (JS) and jQuery (used by Bootstrap and just in general) -->
    <script type="text/javascript" src="../MediaElementAmplifier.js"></script>
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/JavaScript">
    var JS = require('./../YourJS/JS.js');
    var jQuery = require('./../jquery-2.2.1.min.js'), $ = jQuery;
    require('./index');
    </script>

    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Predicación</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="javascript:;" id="linkSetDir">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span>&nbsp;Establecer carpeta</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" id="linkPlayAll">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <span>&nbsp;Todo</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" id="linkRndVid">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                <span>&nbsp;Cualquier</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" id="linkDetails">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span>&nbsp;Detalles</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" data-toggle="modal" data-target="#settingsModal">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span>&nbsp;Ajustes</span>
              </a>
            </li>
          </ul>
          <form id="formFilter" class="navbar-form navbar-right">
            <div class="input-group">
              <input type="text" id="txtSearch" placeholder="filtrar..." class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="body" class="container">
    </div> <!-- /container -->

    <!-- detailsModal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="detailsModalLabel">Detalles</h4>
          </div>
          <div class="modal-body">
            <div>Ha mostrado {{ ref('JS').sub('{0?{0}:un} video{0?s:}.', [history.length]) }}</div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Cuando</th>
                  <th>Archivo</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in history">
                  <td>{{ ref('JS').formatDate(new Date(item.time), "DDD, MMM D, YYYY 'a' h:mm:ss A", 'Domingo,Lunes,Martes,Miércoles,Jueves,Viernes,Sábado'.split(','), 'Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre'.split(',')) }}</td>
                  <td>{{ basename(item.path) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar</button>
          </div>
        </div>
      </div>
    </div><!-- /detailsModal -->

    <!-- settingsModal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="settingsModalLabel">Detalles</h4>
          </div>
          <div class="modal-body">
            <div style="display: table; width: 100%;">
              <div style="display: table-cell; width: 1px;">
                <label for="rangeLoudness">Intensidad de volumen:</label>
              </div>
              <div style="display: table-cell; width: 1px; padding: 0 1em;">{{ loudness }}</div>
              <div style="display: table-cell; width: 99%;">
                <input type="range" min="1" max="10" step="1" v-model="loudness" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div><!-- /settingsModal -->

    <!-- editModal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editModalLabel">Editar Video</h4>
          </div>
          <div class="modal-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#tabMain" aria-controls="tabMain" role="tab" data-toggle="tab">Detalles</a></li>
              <li role="presentation"><a href="#tabSlides" aria-controls="tabSlides" role="tab" data-toggle="tab">Diapositivas</a></li>
              <!--li role="presentation"><a href="#tabPreview" aria-controls="tabPreview" role="tab" data-toggle="tab">Preview</a></li-->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tabMain">
                <div class="form-group">
                  <label for="txtFileName">Nombre de archivo</label>
                  <input type="text" class="form-control" id="txtFileName" readonly />
                </div>
                <div class="form-group">
                  <label for="txtVidTitle">Título</label>
                  <input type="text" class="form-control" id="txtVidTitle" placeholder="eg. Caleb &amp; Sofia van a Betel" />
                </div>
                <div class="form-group keyword-form-group has-feedback">
                  <label for="txtNewKeyword">Palabras claves</label>
                  <form class="form-new-keyword">
                    <div class="input-group">
                      <span class="input-group-btn"><button id="btnAddKeywords" class="btn btn-primary" type="button" tabindex="-1"><i class="glyphicon glyphicon-plus"></i></button></span>
                      <input type="text" class="form-control text-keyword" id="txtNewKeyword" placeholder="eg. Caleb &amp; Sofia" />
                      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </div><!-- /input-group -->
                  </form>
                  <ul class="list-keywords"></ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tabSlides">
                <ol id="olSlideList">
                  <li v-for="(slide, slideIndex) in slides" class="slide">
                    <div>
                      Diapositiva
                      <select v-on:change="moveSlide(slideIndex, +$event.target.value)">
                        <option v-for="(s, i) in slides" v-bind:value="i" :selected="i == slideIndex">{{ i + 1 }}</option>
                      </select>
                      de {{ slides.length }}
                      <button type="button" class="btn btn-danger" v-on:click="deleteSlide(slideIndex)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                    <div class="slide-thumbnail" v-bind:style="'padding-bottom:' + (screenRatio * 100) + '%;' + (slide.image ? 'background-image: url(\'' + getImagePathParts(slide).slideImagePath.replace(/\\/g, '/').replace(/'/g, '\\\'') + '\')' : '')">
                      <div class="text">{{ slide.text }}</div>
                    </div>
                    <div>
                      <table class="table-time" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="td-text">
                            <input type="text" class="time" readonly size="5" v-bind:value="formatTime(slide.time)">
                          </td>
                          <td class="td-range">
                            <input type="range" min="0" v-bind:max="Math.floor(file.vid.duration)" v-model="slide.time">
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div>
                      <input type="text" class="form-control text" v-model="slide.text" v-bind:placeholder="'Mensaje para diapositiva ' + (slideIndex + 1) + ' de ' + slides.length">
                    </div>
                  </li>
                </ol>
                <div><button type="button" class="btn btn-default" id="btnAddSlide" v-on:click="addSlide"><i class="glyphicon glyphicon-plus"></i> Agregar diapositiva</button></div>
              </div>
              <!--div role="tabpanel" class="tab-pane" id="tabPreview">
                <div id="slidePreviewWrap"></div>
              </div-->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-show-in-folder">Mostrar en carpeta</button>
            <button type="button" class="btn btn-success btn-save" data-dismiss="modal">Guardar y cerrar</button>
          </div>
        </div>
      </div>
    </div><!-- /editModal -->

    <!-- videoModal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="videoModalLabel">Video</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div><!-- /videoModal -->

    <div id="slideWrap">
      <div class="buttons">
        <button type="button" class="btn btn-default previous"><i class="glyphicon glyphicon-arrow-left"></i> Previo</button>
        <button type="button" class="btn btn-default next"><i class="glyphicon glyphicon-arrow-right"></i> Próximo</button>
        <button type="button" class="btn btn-default end"><i class="glyphicon glyphicon-remove-circle"></i> Salir</button>
      </div>
      <div class="text"></div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
